<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../../css/global.css" />
		<link rel="stylesheet" href="../../../css/selectAlertDetails.css" />
	</head>

	<body>
		<div class="mui-content" id="details">
			<header class="mui-bar mui-bar-nav md-background">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left md-header md-header-back-size">返回</a>
				<h1 class="mui-title md-header md-header-title-size">选择异常明细</h1>
			</header>
			<div class="mui-content background">
				<ul class="mui-table-view md-background md-ul-color">
					<li class="mui-table-view-cell md-ul-li" v-for="(detail,index) in details" v-bind:id="['openOption'+detail.id]" @tap="onTapSelectItem(detail,index)">
						{{detail.alertName}}
					</li>
				</ul>
				<div class="md-descrip">
					<h4 class="md-ul-color">问题描述</h4>
					<textarea id="remark" rows="5" class="md-textarea" placeholder="描述" v-model="actionMeasure"></textarea>
				</div>
				<div class="mui-button-row md-btn-out">
					<button type="button" class="mui-btn mui-btn-primary md-btn-inner" @tap="onTapAlertPopover">提交</button>
				</div>
			</div>
			<div class="mui-popover background" id="ensure">
				<div class="md-center">
					<form class="mui-input-group md-center-form" style="background-color: transparent;">
						<h3 class="md-andon">ANDON</h3>
						<div class="mui-input-row md-input-group">
							<label class="md-label-input-split">账号</label>
							<input type="text" class="label-input-arrow md-input-width mui-input-clear" v-model="userName" placeholder="请输入用户名">
						</div>
						<div class="mui-input-row md-input-group">
							<label class="md-label-input-split">密码</label>
							<input type="password" class="mui-input-password md-input-width" v-model="pwd" placeholder="请输入密码">
						</div>
						<div class="mui-button-row md-btn-out">
							<button type="button" class="mui-btn mui-btn-primary md-btn-inner" @tap="onTapGoAlert">确定</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script src="../../../js/mui.min.js"></script>
		<script src="../../../config.js"></script>
		<script src="../../../js/static.js"></script>
		<script src="../../../js/function.js"></script>
		<script type="text/javascript" src="../../../js/vue.min.js"></script>
		<script type="text/javascript" src="../../controllers/selectAlertDetails.js"></script>
	</body>
</html>