<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../../css/global.css" />
		<link rel="stylesheet" href="../../../css/dealDetails.css" />
	</head>

	<body>
		<div class="mui-content" id="station">
			<header class="mui-bar mui-bar-nav md-background">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left md-header md-header-back-size">返回</a>
				<h1 class="mui-title md-header md-header-title-size" v-text="title"></h1>
			</header>
			<div class="mui-content background">
				<section id="cd-timeline" class="cd-container">
					<div v-show="isCall" style="display: flex;" id="alertStatusOne">
						<div class="" style="margin-left:20px;margin-right:20px;text-align: center;">
							<div class="cd-timeline-block" @tap="onTapSelfLogo">
								<div class="cd-timeline-img">
									<img style="height: 40px;width: 40px;border-radius: 200px;" src="../../../img/face.jpg" />
								</div>
							</div>
						</div>
						<ul class="mui-table-view md-ul" :class="{'arrow_border':isActiveOne}">
							<li class="mui-table-view-cell callIndex" style="background-color: transparent;border-radius: 10px;">
								<div class="mui-slider-right mui-disabled">
									<a class="mui-btn mui-btn-grey" v-on:tap.stop="onTapUpQuick('0')">快反</a>
									<a class="mui-btn mui-btn-yellow" v-on:tap.stop="onTapMorningMeeting('0')">晨会</a>
								</div>
								<div class="mui-slider-handle md-background" style="    background-color: transparent;">
									<div class="md-ul-new-li" style="width: 100%;">
										<div class="md-center md-temp-color md-alert-type-red"></div>
										<div class="md-center md-cicle">呼叫：
										</div>
										<div>
											<div style="">
												<p style="flex: 1;color: white;">报警：{{FormatDateYMDHMS2(dataInfo.alertDate)}}</p>
											</div>
											<div style="display: flex;">
												<p style="flex: 1;color: white;" v-text="dataInfo.alertUserName"></p>
												<p style="flex: 1;color: white;" v-text="dataInfo.stationName"></p>
											</div>
											<div style="display: flex;">
												<p style="flex: 1;color: white;" v-text="dataInfo.alertType1Name">设备</p>
												<p style="flex: 1;color: white;" v-text="dataInfo.description"></p>
											</div>
										</div>
										<div class="md-center md-temp-color">
											<span class="mui-icon mui-icon-arrowleft md-left-arrow"></span><span class="mui-icon mui-icon-arrowleft md-left-arrow2"></span></div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div v-show="isReceive" style="display: flex;" id="alertStatusTwo">
						<div class="" style="    margin-top: 20px;margin-left:20px;margin-right:20px;text-align: center;">
							<div class="cd-timeline-block" @tap="onTapSelfLogo">
								<div class="cd-timeline-img">
									<img style="height: 40px;width: 40px;border-radius: 200px;" src="../../../img/face.jpg" />
								</div>
							</div>
						</div>
						<ul class="mui-table-view md-ul2" :class="{'arrow_border':isActiveTwo}">
							<li class="mui-table-view-cell callIndex" style="background-color: transparent;border-radius: 10px;">
								<div class="mui-slider-right mui-disabled">
									<a class="mui-btn mui-btn-grey" v-on:tap.stop="onTapUpQuick('1')">快反</a>
									<a class="mui-btn mui-btn-yellow" v-on:tap.stop="onTapMorningMeeting('1')">晨会</a>
								</div>
								<div class="mui-slider-handle md-background" style="    background-color: transparent;">
									<div class="md-ul-new-li" style="width: 100%;">
										<div class="md-center md-temp-color md-alert-type-yellow"></div>
										<div class="md-center md-cicle">接警：
										</div>
										<div>
											<div style="">
												<p style="flex: 1;color: white;">接警：{{FormatDateYMDHMS2(dataInfo.receiveDate)}}</p>
											</div>
											<div style="display: flex;">
												<p style="flex: 1;color: white;" v-text="dataInfo.receiveAlerterName"></p>
												<p style="flex:1;color: white;" v-text="dataInfo.stationName"></p>
											</div>
											<div style="display: flex;">
												<p style="flex: 1;color: white;" v-text="dataInfo.alertType1Name"></p>
												<p style="color: white;">机器损坏</p>
											</div>
										</div>
										<div class="md-center md-temp-color">
											<span class="mui-icon mui-icon-arrowleft md-left-arrow"></span><span class="mui-icon mui-icon-arrowleft md-left-arrow2"></span></div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div v-show="isOver" style="display: flex;" id="alertStatusThree">
						<div class="" style="margin-top: 20px;margin-left:20px;margin-right:20px;text-align: center;">
							<div class="cd-timeline-block" @tap="onTapSelfLogo">
								<div class="cd-timeline-img">
									<img style="height: 40px;width: 40px;border-radius: 200px;" src="../../../img/face.jpg" />
								</div>
							</div>
						</div>
						<ul class="mui-table-view md-ul3" :class="{'arrow_border':isActiveThree}">
							<li class="mui-table-view-cell callIndex" style="background-color: transparent;border-radius: 10px;">
								<div class="mui-slider-right mui-disabled">
									<a class="mui-btn mui-btn-grey" v-on:tap.stop="onTapUpQuick('2')">快反</a>
									<a class="mui-btn mui-btn-yellow" v-on:tap.stop="onTapMorningMeeting('2')">晨会</a>
								</div>
								<div class="mui-slider-handle md-background" style="    background-color: transparent;">
									<div class="md-ul-new-li" style="width: 100%;">
										<div class="md-center md-temp-color md-alert-type"></div>
										<div class="md-center md-cicle">完成：
										</div>
										<div>
											<div style="">
												<p style="flex: 1;color: white;">处理结束：{{FormatDateYMDHMS2(dataInfo.dealTime)}}</p>
											</div>
											<div style="display: flex;">
												<p style="flex: 1;color: white;" v-text="dataInfo.dealUser"></p>
												<p style="flex:1;color: white;" v-text="dataInfo.stationName"></p>
											</div>
											<div style="display: flex;">
												<p style="flex: 1;color: white;" v-text="dataInfo.alertType1Name"></p>
												<p style="color: white;">机器损坏</p>
											</div>
										</div>
										<div class="md-center md-temp-color">
											<span class="mui-icon mui-icon-arrowleft md-left-arrow"></span><span class="mui-icon mui-icon-arrowleft md-left-arrow2"></span></div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</section>
				<div class="mui-button-row md-btn-out">
					<div class="md-bottm-btn-backg">
						<button type="button" class="mui-btn mui-btn-primary md-btn-inner md-center box-shadow-out md-btn-common md-btn-item-one" :class="{'arrow_border':isActiveBtn}" v-show="isFirst" @tap="onTapBtnOne">
							<div class="md-center md-bottom-alert-type"><span v-text="receiveVal"></span></div>
						</button>
						<button type="button" class="mui-btn mui-btn-primary md-btn-inner md-center box-shadow-out md-btn-common md-btn-item-two" v-show="isSecond" @tap="onTapBtnTwo">
							<div class="md-center md-bottom-cancel-alert-type"><span v-text="upQuestion"></span></div>
						</button>
						<button type="button" class="mui-btn mui-btn-primary md-btn-inner md-center box-shadow-out md-btn-common md-btn-item-three" v-show="isThird" @tap="onTapBtnThree"><div class="md-center md-bottom-cancel-alert-type"><span v-text="cancelVal"></span></div></button>
					</div>
				</div>
			</div>
			<div id="showDealPopover" class="mui-popover">
				<ul class="mui-table-view mui-grid-view mui-grid-9">
					<li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-6">
						<a href="#">
							<span class="mui-icon mui-icon-home"></span>
							<div class="mui-media-body">快反</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-6">
						<a href="#">
							<span class="mui-icon mui-icon-email"></span>
							<div class="mui-media-body">晨会</div>
						</a>
					</li>
				</ul>
			</div>
			<div class="mui-popover background" id="ensure">
				<div class="md-center" style="height: 100%;">
					<form class="mui-input-group md-center-form" style="background-color: transparent;">
						<h3 class="md-andon">ANDON</h3>
						<div class="mui-input-row md-input-group">
							<label class="md-label-input-split">账号</label>
							<input type="text" class="label-input-arrow md-input-width mui-input-clear" v-model="userName" placeholder="请输入用户名">
						</div>
						<div class="mui-input-row md-input-group">
							<label class="md-label-input-split">密码</label>
							<input type="password" class="mui-input-password md-input-width" v-model="pwd" placeholder="请输入密码">
						</div>
						<div class="mui-button-row md-btn-out">
							<button type="button" class="mui-btn mui-btn-primary md-btn-inner2" @tap="onTapGoAlert">确定</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script src="../../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../../js/static.js"></script>
		<script type="text/javascript" src="../../../js/vue.min.js"></script>
		<script type="text/javascript" src="../../../config.js"></script>
		<script type="text/javascript" src="../../../js/function.js"></script>
		<script type="text/javascript" src="../../controllers/dealDetails.js" ></script>
	</body>

</html>