<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/style.css" />
		<link rel="stylesheet" href="../../css/global.css" />
		<link rel="stylesheet" href="../../css/main.css" />
	</head>

	<body>
		<div class="mui-content" id="main">
			<header class="mui-bar mui-bar-nav md-background">
				<h1 class="mui-title md-title" v-text="title"></h1>
				<a class="mui-icon mui-icon-gear mui-pull-right md-title" href="#setting"></a>
			</header>
			<nav class="mui-bar mui-bar-tab md-background-bottom">
				<a class="mui-tab-item mui-active" href="#tabbar" @tap="onTapChangeTabbar('待接警')">
					<span class="mui-icon mui-icon-home"><span class="mui-badge" v-text="waitingLists.length"></span></span>
					<span class="mui-tab-label">待接警</span>
				</a>
				<a class="mui-tab-item" href="#tabbar-with-chat" @tap="onTapChangeTabbar('待处理')">
					<span class="mui-icon mui-icon-email"><span class="mui-badge" v-text="processLists.length"></span></span>
					<span class="mui-tab-label">待处理</span>
				</a>
				<a class="mui-tab-item" href="" @tap="onTapNewAlert">
					<div id="xxx.html" class="tab-center">
						<div class="circle">
							<span class="mui-icon mui-icon-plusempty md-position"></span>
						</div>
					</div>

				</a>
				<a class="mui-tab-item" href="#tabbar-with-contact" @tap="onTapChangeTabbar('待确认')">
					<span class="mui-icon mui-icon-contact"><span class="mui-badge" v-text="confirmLists.length"></span></span>
					<span class="mui-tab-label">待确认</span>
				</a>
				<a class="mui-tab-item" href="#tabbar-with-map" @tap="onTapChangeTabbar('已完成')">
					<span class="mui-icon mui-icon-gear"><span class="mui-badge" v-text="overLists.length"></span></span>
					<span class="mui-tab-label">已完成</span>
				</a>
			</nav>
			<div class="mui-content background">
				<div id="tabbar" class="mui-control-content mui-active md-first-tabbar">
					<div class="md-center" style="height: 10%;">
						<div class="mui-input-row mui-search " style="width: 80%;margin: auto;">
							<input type="search" v-model="wSearch" class="md-search" placeholder="搜索" v-on:input="onWaitingSearch()">
						</div>
					</div>
					<div class="mui-scroll-wrapper" style="margin-top: 10%;">
						<div class="mui-scroll">
							<ul class="mui-table-view md-background">
								<li class="mui-table-view-cell md-list-item" v-for="(waitingList,index) in waitingLists" v-bind:id="['openOption'+waitingList.id]" @tap="onTapItem('待接警',waitingList,index)">
									<div class="mui-slider-right mui-disabled">
										<a class="mui-btn mui-btn-grey" v-on:tap.stop="onTapUpQuick('待接警',waitingList,index)">快反</a>
										<a class="mui-btn mui-btn-yellow">晨会</a>
									</div>
									<div class="mui-slider-handle md-background">
										<a class="mui-navigate-right">
											<div>
												<h5 class="md-temp-color" style="width: 70%;">待接警&nbsp;&nbsp;{{waitingList.alertDate}} &nbsp;&nbsp;<span v-text="waitingList.sendLevel > 1 ? '上升的报警' : ''" style="color: yellow;"></span></h5>
												<span class="mui-icon mui-icon-trash mui-pull-right md-temp-color md-list-delete" v-on:tap.stop="onTapDeleteItem('待接警',waitingList,index)"></span>
											</div>
											<div class="md-display md-right">
												<div class="md-center md-flex-1">
													<div class="md-center md-temp-color md-alert-type"><span style="" v-text="waitingList.alertType1Name"></span></div>
												</div>
												<div class="md-temp-color md-flex-8 md-item-margin">
													<div>
														<span v-text="waitingList.stationName"></span>
														<span class="mui-pull-right" v-text="waitingList.overAlertTime"></span>
													</div>
													<div>
														<span>接警</span>
														<span class="mui-pull-right" v-text="waitingList.receiveDate"></span>
													</div>
													<div>
														<span>完成</span>
														<span class="mui-pull-right" v-text="waitingList.overDate"></span>
													</div>
													<div>
														<span>报警人</span>
														<span class="mui-pull-right" v-text="waitingList.alertUserName"></span>
													</div>
												</div>
											</div>
										</a>
									</div>

								</li>
							</ul>
						</div>
					</div>
				</div>
				<div id="tabbar-with-chat" class="mui-control-content md-first-tabbar">
					<div class="md-center" style="height: 10%;">
						<div class="mui-input-row mui-search " style="width: 80%;margin: auto;">
							<input type="search" v-model="pSearch" class="md-search" placeholder="搜索" v-on:input="onWaitingSearch()">
						</div>
					</div>
					<div class="mui-scroll-wrapper" style="margin-top: 10%;">
						<div class="mui-scroll">
							<ul class="mui-table-view md-background">
								<li class="mui-table-view-cell md-list-item" v-for="(processList,index) in processLists" @tap="onTapItem('待处理',processList,index)">
									<a class="mui-navigate-right">
										<h5 class="md-temp-color">待处理&nbsp;&nbsp;{{processList.receiveDate}}&nbsp;&nbsp;<span v-text="processList.sendLevel > 1 ? '上升的报警' : ''" style="color: yellow;"></span></h5>
										<div class="md-display md-right">
											<div class="md-center md-flex-1">
												<div class="md-center md-temp-color md-alert-type"><span style="" v-text="processList.alertType1Name"></span></div>
											</div>
											<div class="md-temp-color md-flex-8 md-item-margin">
												<div>
													<span v-text="processList.stationName"></span>
													<span class="mui-pull-right" v-text="processList.overAlertTime1"></span>
												</div>
												<div>
													<span>接警</span>
													<span class="mui-pull-right" v-text="processList.overAlertTime"></span>
												</div>
												<div>
													<span>完成</span>
													<span class="mui-pull-right" v-text="processList.overDate"></span>
												</div>
												<div>
													<span>接警人</span>
													<span class="mui-pull-right" v-text="processList.receiveAlerterName">向德山</span>
												</div>
											</div>
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>

				</div>
				<div id="tabbar-with-contact" class="mui-control-content md-first-tabbar">
					<div class="md-center" style="height: 10%;">
						<div class="mui-input-row mui-search " style="width: 80%;margin: auto;">
							<input class="md-search" v-model="cSearch" type="search" class="" placeholder="搜索" v-on:input="onWaitingSearch()">
						</div>
					</div>
					<div class="mui-scroll-wrapper" style="margin-top: 10%;">
						<div class="mui-scroll">
							<ul class="mui-table-view md-background">
								<li class="mui-table-view-cell md-list-item" v-for="(confirmList,index) in confirmLists" @tap="onTapItem('待确认',confirmList,index)">
									<a class="mui-navigate-right">
										<h5 class="md-temp-color">待确认&nbsp;&nbsp;{{confirmList.dealTime}}&nbsp;&nbsp;<span v-text="confirmList.sendLevel > 1 ? '上升的报警' : ''" style="color: yellow;"></span></h5>
										<div class="md-display md-right">
											<div class="md-center md-flex-1">
												<div class="md-center md-temp-color md-alert-type"><span style="" v-text="confirmList.alertType1Name"></span></div>
											</div>
											<div class="md-temp-color md-flex-8 md-item-margin">
												<div>
													<span v-text="confirmList.stationName"></span>
													<span class="mui-pull-right" v-text="confirmList.overAlertTime"></span>
												</div>
												<div>
													<span>接警</span>
													<span class="mui-pull-right" v-text="confirmList.overAlertTime1"></span>
												</div>
												<div>
													<span>完成</span>
													<span class="mui-pull-right" v-text="confirmList.overAlertTime2"></span>
												</div>
												<div>
													<span>处理人</span>
													<span class="mui-pull-right" v-text="confirmList.dealUser"></span>
												</div>
											</div>
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div id="tabbar-with-map" class="mui-control-content md-first-tabbar">
					<div class="md-center" style="height: 10%;">
						<div class="mui-input-row mui-search " style="width: 80%;margin: auto;">
							<input class="md-search" v-model="oSearch" type="search" class="" placeholder="搜索" v-on:input="onWaitingSearch()">
						</div>
					</div>
					<div class="mui-scroll-wrapper" style="margin-top: 10%;">
						<div class="mui-scroll">
							<ul class="mui-table-view md-background">
								<li class="mui-table-view-cell md-list-item" v-for="(overList,index) in overLists" @tap="onTapItem('已完成',overList,index)">
									<a class="mui-navigate-right">
										<h5 class="md-temp-color">已完成&nbsp;&nbsp;{{overList.comfirmTime}}&nbsp;&nbsp;<span v-text="overList.sendLevel > 1 ? '上升的报警' : ''" style="color: yellow;"></span></h5>
										<div class="md-display md-right">
											<div class="md-center md-flex-1">
												<div class="md-center md-temp-color md-alert-type"><span style="" v-text="overList.alertType1Name"></span></div>
											</div>
											<div class="md-temp-color md-flex-8 md-item-margin">
												<div>
													<span v-text="overList.stationName"></span>
													<span class="mui-pull-right" v-text="overList.overAlertTime"></span>
												</div>
												<div>
													<span>接警</span>
													<span class="mui-pull-right" v-text="overList.overAlertTime1"></span>
												</div>
												<div>
													<span>完成</span>
													<span class="mui-pull-right" v-text="overList.overAlertTime2"></span>
												</div>
												<div>
													<span>确认人</span>
													<span class="mui-pull-right" v-text="overList.comfirmer"></span>
												</div>
											</div>
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div id="setting" class="mui-popover">
				<ul class="mui-table-view md-background">
					<li class="mui-table-view-cell" @tap="onTapFresh">
						<a href="#"><span class="icon-equalizer"></span>&nbsp;&nbsp;<span>刷新</span></a>
					</li>
					<li class="mui-table-view-cell" @tap="onTapGoIndex">
						<a href="#"><span class="icon-equalizer"></span>&nbsp;&nbsp;<span>配置</span></a>
					</li>
					<li class="mui-table-view-cell" @tap="onTapClearCache">
						<a href="#"><span class="icon-bin2"></span>&nbsp;&nbsp;<span>清除缓存</span></a>
					</li>
					<li class="mui-table-view-cell">
						<a href="#"><span class="icon-table2"></span>&nbsp;&nbsp;<span>查看报表</span></a>
					</li>
				</ul>
			</div>
			<div class="mui-popover background" id="receiveAlert">
				<div class="md-center-two">
					<form class="mui-input-group md-center-form" style="background-color: transparent;">
						<h3 class="md-andon">ANDON</h3>
						<div class="mui-input-row md-input-group">
							<label class="md-label-input-split">账号</label>
							<input type="text" class="label-input-arrow md-input-width mui-input-clear" v-model="userName" placeholder="请输入用户名">
						</div>
						<div class="mui-input-row md-input-group">
							<label class="md-label-input-split">密码</label>
							<input type="password" class="mui-input-password md-input-width" v-model="pwd" placeholder="请输入密码">
						</div>
						<div class="mui-button-row md-btn-out">
							<button type="button" class="mui-btn mui-btn-primary md-btn-inner" @tap="onTapCancelAlert">确定</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/static.js"></script>
		<script type="text/javascript" src="../../js/vue.min.js"></script>
		<script type="text/javascript" src="../../config.js"></script>
		<script type="text/javascript" src="../../js/function.js"></script>
		<script type="text/javascript" src="../controllers/main.js"></script>
	</body>

</html>